body{
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.album{
    position: relative;
    z-index: 5;
    width: 250px;
    margin: 200px auto;
    display: block;
}

.album img{
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #fff;
    box-shadow: 1px 1px 2px #666;
    width: 250px;
    height: 250px;
    display: block;
    transition: all 1s ease-in-out;
}
/* photo 1 animate */
.album:hover .photo1, .album:focus .photo1{
    transform: rotate(-12deg) translate(-100px, -3px) scale(1.1);
}

/* photo 2 animate */
.album:hover .photo2, .album:focus .photo2{
    transform: rotate(0deg) translate(0px, -8px) scale(1.1);
}

/* photo 3 animate */
.album:hover .photo3, .album:focus .photo3{
    transform: rotate(12deg) translate(100px, -12px) scale(1.1);
}